a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body{background:#008082;font-size:14px}
#main{width:95%;min-width:300px;max-width:950px;margin:20px auto;background:#bfb8bf;border:2px solid;border-color:#fff8ff #000 #000 #fff8ff;padding:2px 0}

.top_title h1{display:inline-block;width:89%;overflow:hidden;white-space:nowrap}
.top_title .icon-close{display:inline-block;width:16px;height:16px;background:#ccc url(../img/icon.png) -80px -1px;float:right;border:1px solid;border-color:#fff8ff #000 #000 #fff8ff}

.top_title{background:#00007f;padding:2px 4px 3px 4px;position:relative}
.top_title h1{color:#bfb8bf;font-size:14px;font-weight:700}
.top_title img{float:left;width:14px;height:14px;margin:0 3px 0 0}
.post_title h1{display:inline-block;width:89%;overflow:hidden;white-space:nowrap}
.post_title a{color:#000}
.post_title .btn-close{background:#ccc url(../img/icon.png) -80px -1px;width:16px;height:16px;float:right;border:1px solid;border-color:#fff8ff #000 #000 #fff8ff}
.post_title .btn:active{width:12px;height:10px}
ul.topbar{list-style:none;padding:0 5px;margin:3px 0}
ul.topbar li{display:inline-block;margin:0 5px 0 0}
ul.topbar a{text-decoration:none;color:#000}
.post_content,.post_list,.sidebar{background:#f9f9f9;border-width:2px;border-style:ridge groove groove ridge;border-color:#7f787f #fff8ff #fff8ff #7f787f}
.post_list{width:78.5%;margin:0 auto;height:800px;overflow-y:scroll;display:inline-block}
.post_list ul{list-style:none}
.post_list ul li{display:inline-block;margin:20px;width:139px;height:74px;overflow:hidden;text-overflow:ellipsis;text-align:center}
.post_list ul li img{display:block;margin:0 auto;margin-bottom:8px}
.post_list ul li a{text-decoration:none;color:#000}
.sidebar{width:20%;height:800px;overflow-y:scroll;display:inline-block}
.sidebar img{height:16px;width:16px;margin:-2px 5px}
.sidebar a{text-decoration:none;color:#000}
.sidebar ul li{max-width:20ch;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tag-list{background:transparent url(../img/pixel-alt.png) repeat-y 15px 0;margin:5px 5px 10px 5px}
.tag-list li{padding:0 0 0 2px}
.tag-list li a{background:#f9f9f9;display:block}
.tag-list li ul li{background:transparent url(../img/pixel-alt.png) repeat-x 0 8px;margin:5px 0 0 15px;padding-left:10px}
.post_total .foot{width:99%;font-size:12px;border:1px solid;border-color:#888 #dadada #dadada #888;display:inline-block;padding:3px;overflow:hidden;white-space:nowrap}
.post_total .left,.post_total .right{border:1px solid;border-color:#888 #dadada #dadada #888;display:inline-block;padding:1px 3px}
.post_total .left{width:33%;margin-left:2px}
.post_total .right{width:64.5%;}
.post_content{font-size:16px;padding:5px 13px;position:relative;max-height:790px;margin:0 auto;overflow-y:scroll;overflow-x:scroll}
.post_content p{text-indent:2em;line-height:150%;margin-bottom:15px}
.post_content p img {max-width:90%;}
.post_content a{color:#00f;margin-bottom:15px}
.post_content h1{font-size:26px;font-weight:700;margin:30px 0}
.post_content h2{font-size:20px;font-weight:700;margin:25px 0 5px 0}
.post_content em{font-style:italic}
.post_content blockquote{padding:0 0 0 15px;margin:15px 5px;border-left:8px solid #000}
.post_content strong{font-weight:700}
.post_content hr{border:1px solid #ccc;border-left:0}
.post_content img {max-width:100%}
.post_content ul{list-style:square;margin:0 0 15px 30px}
.post_content ul li{padding:5px}
.post_content ul li ul{margin:10px 0 0 15px}
.post_content ul li ul li{padding:5px}
.post_content ol{margin:0 0 15px}
.post_content ol li{padding:5px}
.post_content ol li ul{margin:10px 0 0 15px}
.post_content ol li ul li{padding:5px}
.hljs{background:#fff8ff}
.donate{float:right;padding:0 3px 0 0}
.donate p{text-align:right;word-break:break-word}
@media only screen and (max-width:850px){.post_list{width:78%}}
@media only screen and (max-width:640px){.post_list{width:77%}.post_total .foot{width:97.5%}}
@media only screen and (max-width:500px){.post_list{width:98%}.post_total .foot{width:96.5%}}
::-webkit-scrollbar{width:16px}
::-webkit-scrollbar-track{background-image:url(../img/track.png);background-repeat:repeat-x repeat-y}
::-webkit-scrollbar-thumb{background-color:#ccc;border-width:2px;border-style:groove ridge ridge groove;border-color:#fff8ff #000 #000 #fff8ff}
::-webkit-scrollbar-button{background-color:#ccc;border-width:2px;border-style:groove ridge ridge groove;border-color:#fff8ff #000 #000 #fff8ff;background-position:center center;background-repeat:no-repeat}
::-webkit-scrollbar-button:vertical:decrement{background-image:url(../img/up.png)}
::-webkit-scrollbar-button:vertical:increment{background-image:url(../img/down.png)}
::-webkit-scrollbar-button:horizontal:decrement{background-image:url(../img/left.png)}
::-webkit-scrollbar-button:horizontal:increment{background-image:url(../img/right.png)}
::-webkit-scrollbar-button:active{background-position:1px 2px}
::-webkit-scrollbar-corner{background-color:#cacaca}

/* 分页条 */
.page-navigator{list-style:none;margin:10px 0;padding:0;text-align:center}
.page-navigator li{display:inline-block;margin:0 4px}
.page-navigator a{display:inline-block;padding:0 10px;height:30px;line-height:30px}
.page-navigator .current a{background:#f7f7f7}

/* 留言框 */
#comment-form p{text-indent:0}
/*评论区*/
#comments{padding:30px 0}
#comments a{color:#000;text-decoration:none}
#comments text{width:45%}
#comments textarea{width:95%}
.comment-list,.comment-list ol{list-style:none;margin:0;padding:0}
.comment-list li{padding:14px;margin-top:10px;border-top:1px solid #EEE}
.comment-list li.comment-level-odd{margin-left:25px;background:#FBFBFB}
.comment-list li.comment-level-even{margin-left:25px;background:#F7F7F7}
.comment-list li .comment-reply{text-align:right;font-size:.92857em}
.comment-meta{color:#999;font-size:.92857em}
.comment-meta a{color:#999;font-size:.92857em}
.comment-author{display:block;margin-bottom:3px;color:#444}
.comment-author .avatar{float:left;margin-right:10px}
.comment-author cite{font-weight:bold;font-style:normal}
.comment-content{margin: 10px 10px 10px 40px;line-height:1.5;word-wrap:break-word}
.comment-content p{text-indent:0}
.comment-content a img{background:#FFF;position:relative;bottom:-4px}
.comment-content hr{margin:2em auto;width:100px;border:1px solid #E9E9E9;border-width:2px 0 0 0}
.comment-list li .comment-reply{text-align:right;font-size:.92857em}
.comment-list .respond{margin-top:15px;border-top:1px solid #EEE}
.respond .cancel-comment-reply{float:right;margin-top:15px;font-size:.92857em}
#comment-form label{display:block;margin-bottom:.5em;font-weight:bold}
#comment-form .required:after{content:" *";color:#C00}

/* InstantClick 加载进度条 */
#instantclick-bar {height:5px;background: #00007f;}

/* 图片点击放大 */
.post_img{cursor:url(../img/zoom-in.png), default;}
#bigBox{position:fixed;display:none;text-align:center;background:rgba(0, 0, 0, 0.8);z-index:99;top:0;bottom:0;left:0;right:0;padding:20px;overflow:auto;}
#bigImg{margin-bottom:20px;cursor:url(../img/zoom-out.png), default;}

/* 图标雪碧图 */
.icon-home{display:inline-block;margin-right:5px;width:16px;height:16px;background:url(../img/icon.png) -152px 0}
.icon-file-big{display:block;margin:0 0 10px 54px;width:32px;height:35px;background:url(../img/icon.png) -206px 0}
.icon-file{display:inline-block;margin-right:5px;width:16px;height:16px;background:url(../img/icon.png) -116px 0}
.icon-disk{display:inline-block;margin: 0 5px;width:16px;height:16px;background:url(../img/icon.png) -98px 0}
.icon-folder{display:inline-block;margin: -3px 5px 0 6px;width:16px;height:16px;background:url(../img/icon.png) -134px 0}
.icon-internet{display:inline-block;margin-right:5px;width:16px;height:16px;background:url(../img/icon.png) -170px 0}
.icon-computer{display:inline-block;margin-right:5px;width:16px;height:16px;background:url(../img/icon.png) -188px 0}
.icon-gongan{display:inline-block;width:12px;height:12px;background:url(../img/icon.png) -24px 0}